* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    display: block;
    width: 100%;
    border-radius: 0;
}

.width {
    max-width: 600px;
    margin: 0 auto;
    width: 92%;
}

a {
    text-decoration: none;
}

.header { 
    background: #111;
    color: #fff;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 10;

    .width {
        position: relative;
    }

    h1 {
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 2px;
    }

    a {
        color: white;
    }

    svg {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -12px;
    }
}

.home_search {
    padding: 40px 0;
    text-align: center;

    h2 {
        font-size: 32px;
        margin-bottom: 40px;
    }

    input {
        border: 1px solid #ddd;
        padding: 0 24px;
        border-radius: 8px;
        line-height: 54px;
    }

}